body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    padding:  0;
    align-items: flex-start;    
    background-color: #F8F9FA;
    font-family: ui-sans-serif, system-ui, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", 
                 "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    position: relative;
    overflow-x: hidden;
}
.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; 
}

.sidebar{
    position:left;
    background-color:#FFFFFF;
    padding-top:0;
    width: 300px;
    min-height:100vh;
     display: flex;
    flex-direction: column;
    overflow-y: hidden;
     flex-shrink: 0;
      border-right: 1px solid #ddd;
       z-index: 10; 
    
}
.left-side {
    flex: 1;               
    background: #f5f5f5;
    padding: 20px;
    overflow-y: auto;
    position: relative;    
}
