
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    align-items: flex-start;    
    background-color: #F8F9FA;
    font-family: ui-sans-serif, system-ui, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", 
                 "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    position: relative;
    overflow-x: hidden;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../waves.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.3;
    pointer-events: none;
}




.triangle-animation {
    position: absolute;
    bottom: 50%;
    right: 25%;
    width: 100px;
    height: 120px;
    background-image: url("../triangle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
}




.kite-animation {
    position: absolute;
    top: 15%;
    right: 20%;
    width: 60px;
    height: 60px;
    background-image: url("../kite.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    animation: bounce-kite 3s ease-in-out infinite;
    pointer-events: none;
        filter: brightness(0) saturate(100%) invert(79%) sepia(32%) saturate(1280%) hue-rotate(106deg) brightness(96%) contrast(89%);

}


.circle-animation {
    position: absolute;
    bottom: 20%;
    right: 10%;
    width: 80px;
    height: 80px;
    background-image: url("../circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
    background-color:none;
}
.blue-circle {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50px;
    height: 50px;
    background-image: url("../blue-circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
    background-color:none;
}
.blurred-orb {
    position: absolute;
    border-radius: 50%;
    filter: blur(40px); 
    z-index: 1;
    
    
}

.shape-1.blurred-orb {
    background-color:rgb(117, 117, 228); 
    top: 35%; 
    left: 7%; 
    width: 80px;
    height: 80px;
    animation: pulseFlicker 20s linear infinite; 
}
.shape-2.blurred-orb {
    background-color:#6291ca; 
    top: 70%; 
    left: 10%; 
    width: 60px;
    height: 60px;
    animation: pulseFlicker 10s linear infinite; 
}

.shape-3.blurred-orb {
    background-color: #f5df87; 
    top: 10%;
    right: 5%;
    width: 80px;
    height: 80px; 
    animation: pulseFlicker 12s linear infinite 2s; 
}




@keyframes bounce-kite {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-40px) rotate(5deg); }
}

button{
    font-family: inherit;
}

.welcome {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    
    height:auto;
    border-radius: 16px;
    background-color: #ffffff;       
    padding: 32px 24px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08); 
}
#logo {
    display: block;
    margin: 0 auto 16px auto;
    width: 80px;             
    height: 80px;
    padding-top:40px;
}
#create {
    margin-top: 8px;
    color: #6c757d;
    font-size: 1rem;
}
[data-tab-content]{
    display:none;

}
.active[data-tab-content]{
    display:block;
}

.tabs {
    width: 100%;
    background-color: #F3F4F6;
    padding: 4px;
    border-radius: 12px;   
    display: flex;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}


.tabs li {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color:transparent;
}
.tabs li.active {
    background-color: white ;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tabs,
.tab-content {
    align-self: stretch; 
}
.terms{
    
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   
   
}
.terms p {
     margin:0;
      color: #6c757d;
}
#task{
    font-weight:500;
    font-size:18px;
}
.terms a{
    color:  #2367FC;
}



