
    body {
    margin: 0;
    padding: 0;
   background-color: #FFFFFF;

    font-family: ui-sans-serif, system-ui, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", 
                 "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    
    
   
}
.sign-up-form{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding-top :24px;
    
}



input {
    width: 100%;
    padding: 12px 16px;
    padding-left: 40px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    font-size: 16px;
    font-weight:400;
    font-family: inherit;
    box-sizing: border-box;
    background-color: #f9fafb;
    transition: all 0.2s;
    height:50px;
    
}


.label {
    margin-bottom: 16px;
    width:100%;
    font-weight:normal;
    font-weight:500;
    color:#424C5D;
    font-size:inherit;
    font-family:inherit;
    
}
.input{
    position:relative;
    width: 100%;
}
.input img{
      position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    
    
}

.login-buttons{
    display:flex;
    justify-content:space-around;
    gap: 40px;
    
}
.buttons{
   padding: 15px 32px;
  border:none;
  font-size: inherit;
  margin: 4px 2px;
  font-weight:500;
  cursor: pointer;
  border-radius:12px;
  flex:1;

}
#create{
    background-color:#FBC400;
}
.help-btn {
    display: flex;
   gap: 6px;     
 padding-left:80px;

    
   
}


.help-btn .help-icon {
    width: 18px;
    height: 18px;
    pointer-events: none; 
    
} 



